// * Variables de fuente
$font-main: 'VT323', 'Consolas', monospace;

// ? Variables de color
$color-red: #e53935;
$color-yellow: #fbc02d;
$color-blue: #1976d2;
$color-blue-light: #81d4fa;
$color-green: #43a047;
$color-purple: #8e24aa;
$color-brown: #bc6c25;
$color-pink: #ffb6c1;
$color-grey: #bdbdbd;
$color-black: #222;
$color-white: #fff;
$color-shadow: #b71c1c33;
